<!doctype html>
<html lang="pt-br">
	
	<head>
		<meta charset="utf-8">
		<title>Login</title>
	</head>
	
	<body>
		<form th:object="${curso}" th:action="@{/salvarCurso}" method="POST" style="margin: 10px">
	
			<input th:field="*{nome}" type="text" placeholder="Informe o Nome">	<br/>
			<input th:field="*{descricao}" type="text" placeholder="Informe a Descrição"> <br/>							
			<input th:field="*{preco}" type="text" placeholder="Informe o Preço"> <br/>
			<select th:each="cat : ${curso}">
				<option th:text="${cat.categorias.nome}"">
			</select>

			<button type="submit">Login</button>
								
		</form>
	</body>
</html>