<!doctype html>
<html lang="pt-br">
	
	<head>
		<meta charset="utf-8">
		<title>Login</title>
	</head>
	
	<body>
		<form th:object="${curso}" th:action="@{/salvarCurso}" method="POST" style="margin: 10px">
	
			<input th:field="*{nome}" type="text" placeholder="Informe o Nome">	<br/>
			<input th:field="*{descricao}" type="text" placeholder="Informe a Descrição"> <br/>							
			<input th:field="*{preco}" type="text" placeholder="Informe o Preço"> <br/>
			<select th:field="*{categorias}">
				<option value="">Selecione a categoria</option>
				<option th:each="cat : ${categorias}" th:value="${cat.id}" th:text="${cat.nome}"></option>
			</select><br/>

			<button type="submit">Salvar</button>
								
		</form>
	</body>
</html>